<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BookStore App</h1>
    <div class="center"><a href="/article">Go to Store</a></div>
  </body>
</html>
