<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to our Article Page</h1>
    <div class="btn"><a href="/article">Go to Article</a></div>
  </body>
</html>
